/*下方分享*/
.ld-fxdi{
    width:100%;height:auto;
    position:relative;
    overflow:hidden;
    padding-left:0.2rem;
}
.ld-fenxiang{
    float:left;
    width:4rem;height:.4rem;
    line-height:.4rem;
    margin:.15rem 0;
}
.ld-firfx{
    float:left;
    width:1.2rem;
    font-size:.24rem;
    color:#666;
}
/*社会化分享*/
div.bdshare-button-style2-16 a{
    width:.4rem;height:.4rem;
    margin:0;padding:0;
    margin-right:.14rem;
    background-size: 100%;
}
div.bdshare-button-style2-16 .bds_qzone{
     background-image:url(../images/ld_images/ld-share_01.png);
    background-position: 0;
}
div.bdshare-button-style2-16 .bds_tsina{
     background-image:url(../images/ld_images/ld-share_02.png);
    background-position: 0;
}
div.bdshare-button-style2-16 .bds_tqq{
     background-image:url(../images/ld_images/ld-share_03.png);
    background-position: 0;
}
div.bdshare-button-style2-16 .bds_weixin{
     background-image:url(../images/ld_images/ld-share_04.png);
    background-position: 0;
}
div.bdshare-button-style2-16 .bds_sqq{
     background-image:url(../images/ld_images/ld-share_05.png);
    background-position: 0;
}
/*右下点赞*/
.ld_rightzan{
    float:right;
    width:106px;height:62px;
    position:absolute;
    right:0;top:9px;
}
.ld-dianzan{
    float:right;
    width:1.06px;height:.62px;
    position:absolute;
    right:0;top:.09px;
}
.ld-li{
    width:.40px;height:.55px;
    cursor:pointer;
    text-align:center;
    overflow:hidden;
}
.ld-dianzan input{
    display:block;
    width:100%;height:.40px;
    border:0;outline:0;
    border-radius:50%;
    background:#c6c6c6 url(../images/ld_images/ld-pages.png) -.57px -1.41px no-repeat;
    cursor:pointer;
}
.ld-up{float:left;}
.ld-up input{
    background-position:-1px -1.43px;
}
.ld-dianzan i{
    font-style:normal;
    color:#939393;
    font-size:.12px; 
}
input.ld-dianzan-active{
    background-color:#fe6e20;
}
.ld-dianzan li:hover input{
    background-color:#fe6e20;
}